aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
isodate
hachoir
heroku3
httpx==0.27.2
motor
numpy
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrofork
python-dotenv
pyyaml
requests
lexica-api
speedtest-cli
spotipy
tgcrypto
unidecode
google-api-python-client
yt-dlp[default]
youtube-search-python
